
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutYönetici.cshtml";
}
<div class="container mt-5 text-center ">
    <h2>@ViewBag.birimAd Birimi İçin Yetkilisiniz</h2>
    <div class="card background-card">
       <img src="~/wwwroot/images/is.jpg" alt="Image"/>
    </div>
</div>


