@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCalisan.cshtml";
}

<div class="container mt-5 text-center">
    <h1>@ViewBag.birimAd Birimi İçin Çalışansınız</h1>

    <div class="row text-center">

        <!-- 'calss' corrected to 'class' -->
        @foreach (var i in ViewBag.isler)
        {
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4">
                <!-- Added column structure -->
                @using (Html.BeginForm("Index", "Calisan", FormMethod.Post))
                {
                    <div class="card border-info">
                        <div class="card-header text-center">
                            Yeni İş !!!
                        </div>

                        <div class="card-body">
                            <input type="hidden" name="isId" value="@i.isId" />
                            <div class="mb-3">
                                @i.isBaslik
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-outline-info">Okundu İşaretle</button>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
